<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0.30319" /> 
  </startup>
  <appSettings>
<!--
    <add key="assemblerPath" value="c:\WINDOWS\Microsoft.NET\Framework\v4.0.30319\ilasm.exe"/>
    <add key="disassemblerPath" value="c:\Program Files (x86)\Microsoft SDKs\Windows\v7.0A\Bin\NETFX 4.0 Tools\ildasm.exe"/>
    <add key="rcPath" value="c:\Program Files (x86)\Microsoft SDKs\Windows\v7.0A\Bin\rc.exe"/>
    <add key="zipArchiver" value="c:\TotalCmd\TC_Common\Arc\zip\zip.exe"/>
-->
    <add key="assemblerPath" value="c:\WINDOWS\Microsoft.NET\Framework\v4.0.30319\ilasm.exe"/>
    <add key="disassemblerPath" value="C:\Program Files (x86)\Microsoft SDKs\Windows\v10.0A\bin\NETFX 4.6.1 Tools\x64\ildasm.exe"/>
    <add key="rcPath" value="c:\Program Files (x86)\Windows Kits\10\bin\x64\rc.exe"/>
    <add key="zipArchiver" value="E:\tools\UnxUtils\usr\local\wbin\zip.exe"/>	
  </appSettings>
</configuration>